<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/bower_components/jquery/dist/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/bower_components/bootstrap/dist/css/bootstrap.css' />    
  </head>
  <body>
    {{{body}}}
  </body>
</html>
